<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Die Wohnanlage</h2>
                <hr class="light">
                <p class="text-faded">Hier könnte irgendwas stehen, was noch interessant und wichtig ist. Aber was nur? Auch längerer Text, der dann umbricht</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn"></i>
                    <h3>Idyllische Lage im Grünen</h3>
                    <p class="text-faded">Das Haus ist umgeben von idyllischem Grün in einer ruhigen Umgebung am Rande von weitläufigen Wiesen und Auen. Parkanlagen und der Saale-Wanderweg bieten Ihnen Natur pur.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn" data-wow-delay=".1s"></i>
                    <h3>Großartiger Ausblick</h3>
                    <p class="text-faded">Sie haben einen großartigen Ausblick ins Grüne. Die Saaleaue und die Rabeninsel, früher auch Pionierinsel genannt, liegen Ihnen zu Füßen.</p>
                </div>
            </div>
            <div class="clearfix visible-md-block"></div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn" data-wow-delay=".2s"></i>
                    <h3>Vielfältige Einkaufsmöglichkeiten und Dienstleister fußläufig</h3>
                    <p class="text-faded">Das Kaufland-Center (Medimax, Deichmann und Boutiquen usw.), weitere Supermärkte sowie Ärzte, Schulen, Kindergärten und Dienstleister des täglichen Bedarfs befinden sich in unmittelbarer Nähe und sind zu Fuß in weniger als fünf Minuten erreichbar.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn" data-wow-delay=".3s"></i>
                    <h3>Ausgezeichnete Verkehrsanbindung</h3>
                    <p class="text-faded">Ebenso ist eine sehr gute Verkehrsanbindung mit Straßenbahn, S-Bahn, Bus und Auto gegeben. Kostenfreie Parkmöglichkeiten befinden sich direkt vor dem Haus. Die Innenstadt erreichen Sie in wenigen Minuten.</p>
                </div>
            </div>
            <div class="clearfix visible-lg-block"></div>
            <div class="clearfix visible-md-block"></div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn" data-wow-delay=".4s"></i>
                    <h3>Fahrstuhl</h3>
                    <p class="text-faded">Das Haus verfügt über einen geräumigen Fahrstuhl.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn" data-wow-delay=".5s"></i>
                    <h3>Hochwertige Sanierung</h3>
                    <p class="text-faded">Das Objekt ist vollsaniert. Eine doppelte Dämmung der Fassade und neue Fenster sind vorhanden. Die Wohnungen sind oder werden auf Wunsch mit hochwertigem Laminat versehen und komplett renoviert. Die Elektrik in den Wohnungen ist erneuert.</p>
                </div>
            </div>
            <div class="clearfix visible-md-block"></div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn" data-wow-delay=".6s"></i>
                    <h3>Freundlicher Hausmeister</h3>
                    <p class="text-faded">Ein freundlicher und engagierter Hausmeister betreut dieses Objekt und ist drei Tage in der Woche vor Ort. Er hilft Ihnen gern und achtet auf Ordnung sowie Sauberkeit im Haus.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn" data-wow-delay=".7s"></i>
                    <h3>Hausreinigung inbegriffen</h3>
                    <p class="text-faded">In den Betriebskosten sind die Hausreinigung und der Winterdienst bereits inbegriffen. Sie müssen sich also nicht selbst darum kümmern.</p>
                </div>
            </div>
            <div class="clearfix visible-lg-block"></div>
            <div class="clearfix visible-md-block"></div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn" data-wow-delay=".8s"></i>
                    <h3>Freundliche Verwaltung vor Ort</h3>
                    <p class="text-faded">Sowohl Verwalter als auch Eigentümer kommen aus der Region. Wir tun alles, damit Sie sich in Ihrer Wohnung nicht nur wohl, sondern auch zu Hause fühlen. Freundlichkeit und Hilfsbereitschaft sind oberste Prinzipien unseres Handelns.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn" data-wow-delay=".9s"></i>
                    <h3>Ausreichend kostenfreie Parkplätze</h3>
                    <p class="text-faded">Nie mehr Parkplatz suchen. Vor und hinter dem Haus finden Sie ausreichend kostenfreie Parkplätze.</p>
                </div>
            </div>
            <div class="clearfix visible-md-block"></div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn" data-wow-delay="1.0s"></i>
                    <h3>Kabelfernsehen und schneller Internetzugang</h3>
                    <p class="text-faded">Surfen Sie mit bis zu superschnellen 200 MBit/s über Kabel oder 100 MBit/s DSL. Günstiges Kabelfernsehen ist verfügbar.</p>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn" data-wow-delay="1.0s"></i>
                    <h3>Unendliche Gestaltungsmöglichkeiten</h3>
                    <p class="text-faded">Tipps für kreatives Wohnen im Plattenbau finden Sie unter <a href="http://www.jeder-qm-du.de/">JEDER M² DU</a> und <a href="http://mitvergnuegen.com/2015/so-stylisch-kann-man-im-plattenbau-wohnen/">mitvergüngen.com</a>. Sie werden begeistert sein. Lassen Sie sich faszinieren von den unendlichen Gestaltungsmöglichkeiten, die Ihre Wohnung zu einem unverwechselbaren Unikat machen können. Insbesondere die Gestaltung der offenen Küche bietet Potential für Individualität und Kreativität.</p>
                </div>
            </div>


        </div>
    </div>
</section>
