<section id="appartments">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Alle freien Wohnungen im Überblick</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            {% for realestate in realestate_list %}
                <div class="col-md-7">
                    <h3>{{ realestate.title }}</h3>
                    <p>
                        {{ realestate.rooms }} Zimmer
                        &middot;
                        {{ realestate.size }} m²
                        &middot;
                        {{ realestate.netto|floatformat:2 }} Euro
                    </p>
                    <p>{{ realestate.description|truncatewords:20 }}</p>
                    <a href="{% url 'detail' realestate.pk %}#appartment" class="btn btn-primary">Details</a>
                </div>
                {% if realestate.image_set.all.0 %}
                    <div class="col-md-4 col-md-offset-1">
                        <a href="{{ MEDIA_URL }}{{ realestate.image_set.all.0.image }}" class="portfolio-box">
                            <img src="{{ MEDIA_URL }}{{ realestate.image_set.all.0.image }}" class="img-responsive" alt="{{ realestate.image_set.all.0.description }}">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        {{ realestate.image_set.all.0.short_description }}
                                    </div>
                                    <div class="project-name">
                                        {{ realestate.image_set.all.0.long_description }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
                <div class="clearfix visible-md-block"></div>
            {% empty %}
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Im Moment sind keine Wohnungen frei. Hinterlassen Sie uns Ihre Kontaktdaten und wir informieren Sie, sobald eine Wohnung frei wird.</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
