<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Kontaktieren Sie uns!</h2>
                <hr class="primary">
                <p>Haben Sie Interesse an einer Wohnung oder weitere Fragen? Rufen Sie uns an oder schreiben Sie uns eine E-Mail.</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>0341 / 123456</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:mail@example.com">mail@example.com</a></p>
            </div>
        </div>
    </div>
</section>
