<section id="deals">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Aktuelles und Sonderaktionen</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            {% for deal in deals %}
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-{{ deal.icon|default:'star' }} wow bounceIn text-primary"></i>
                        <h3>{{ deal.title }}</h3>
                        <p class="text-muted">{{ deal.short_text }}</p>
                        <p class="text-muted collapse" id="collapseDealDetails-{{ deal.pk }}">{{ deal.details }}</p>
                        <a class="btn btn-primary btn-xl wow tada" role="button"
                           data-toggle="collapse" href="#collapseDealDetails-{{ deal.pk }}"
                           aria-expanded="false" aria-controls="collapseDealDetails-{{ deal.pk }}">
                           Details
                        </a>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
                    <div class="clearfix visible-md-block"></div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                    <div class="clearfix visible-lg-block"></div>
                {% endif %}
            {% empty %}
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Im Moment gibt es keine aktuellen Informationen oder Sonderaktionen.</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
