{% extends 'index.html' %}

{% block nav %}

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{ config.TITLE }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="{% url 'home' %}#appartments">Zurück zur Wohungsübersicht</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Kontakt</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#legal-notice">Impressum</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

{% endblock %}


{% block header %}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 class="header-text">{{ realestate.title }}</h1>
            </div>
        </div>
    </header>

{% endblock %}


{% block pages %}

    <section id="appartment">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="section-heading">{{ realestate.title }}</h2>
                    <p>
                        {{ realestate.rooms }} Zimmer
                        &middot;
                        {{ realestate.size }} m²
                        &middot;
                        {{ realestate.netto|floatformat:2 }} Euro
                    </p>
                    <p>{{ realestate.description|linebreaks }}</p>

                    <h3>Eckdaten</h3>
                    <dl class="dl-horizontal">
                        <dt>Zimmer</dt>
                        <dd>{{ realestate.rooms }}</dd>
                        <dt>Größe</dt>
                        <dd>{{ realestate.size }} m²</dd>
                        {% if realestate.floor %}
                            <dt>Etage</dt>
                            <dd>{{ realestate.floor }}</dd>
                        {% endif %}
                        <dt>Balkon/Terrasse</dt>
                        <dd>{{ realestate.balcony|yesno }}</dd>
                        <dt>Aufzug</dt>
                        <dd>{{ realestate.elevator|yesno }}</dd>
                        <dt>Verfügbar ab</dt>
                        <dd>{{ realestate.when_free }}</dd>
                    </dl>

                    <h3>Kosten</h3>
                    <dl class="dl-horizontal">
                        <dt>Kaltmiete</dt>
                        <dd>{{ realestate.netto|floatformat:2 }} Euro</dd>
                        {% if realestate.split_extra_costs %}
                            <dt>Kalte Betriebskosten</dt>
                            <dd>{{ realestate.extra_costs_cold|floatformat:2 }} Euro</dd>
                            <dt>Heizkosten</dt>
                            <dd>{{ realestate.extra_costs_heating|floatformat:2 }} Euro</dd>
                        {% else %}
                            <dt>Betriebskosten</dt>
                            <dd>{{ realestate.extra_costs|floatformat:2 }} Euro</dd>
                        {% endif %}
                        <dt>Warmmiete</dt>
                        <dd>{{ realestate.brutto|floatformat:2 }} Euro</dd>
                        <dt>Kaution</dt>
                        <dd>{{ realestate.deposit }}</dd>
                    </dl>
                    {% if realestate.detail_list %}
                        <h3>Details</h3>
                        <div class="row">
                            {% for detail in realestate.detail_list %}
                                <div class="col-xs-4">
                                    <p class="text-center">
                                        <span class="label label-primary text-center">{{ detail }}</span>
                                    </p>

                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <h3>Energieausweis</h3>
                    <dl>
                        <dt>Art des Energieausweises</dt>
                        <dd>{{ realestate.energy_certificate_dict.type }}</dd>
                        <dt>Endenergiebedarf/Endenergieverbrauch</dt>
                        <dd>{{ realestate.energy_certificate_dict.value }}</dd>
                        <dt>Wesentlicher Energieträger</dt>
                        <dd>{{ realestate.energy_certificate_dict.source }}</dd>
                        <dt>Baujahr</dt>
                        <dd>{{ realestate.energy_certificate_dict.year }}</dd>
                        <dt>Energieeffizienzklasse</dt>
                        <dd>{{ realestate.energy_certificate_dict.efficiency_class }}</dd>
                    </dl>
                    {% if realestate.expose %}
                        <a href="{{ MEDIA_URL }}{{ realestate.expose.pdf }}" class="btn btn-primary btn-xl">Exposé herunterladen</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <style>
        .custom-images > [class*=col-] {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    </style>

    <section class="no-padding" id="appartment-images">
        <div class="container-fluid">
            <div class="row custom-images">
                {% for image in realestate.image_set.all %}
                    <div class="col-lg-4 col-sm-6">
                        <a href="{{ MEDIA_URL }}{{ image.image }}" class="portfolio-box">
                            <img src="{{ MEDIA_URL }}{{ image.image }}" class="img-responsive" alt="{{ image.description }}">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        {{ image.short_description }}
                                    </div>
                                    <div class="project-name">
                                        {{ image.long_description }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% include 'contact.html' %}

{% endblock %}

{% block adminlink %}

    <p><a href="{% url 'admin:THHome_realestate_change' realestate.pk %}">Link zur Administration</a></p>

{% endblock %}
