{% load staticfiles %}

<section class="no-padding" id="impressions">
    <div class="container-fluid">
        <div class="row no-gutter">
            <h2 class="sr-only">Fotos</h2>
            {% for impression in impressions %}
                <div class="col-lg-4 col-sm-6">
                    <a href="{{ MEDIA_URL }}{{ impression.image }}" class="portfolio-box">
                        <img src="{{ MEDIA_URL }}{{ impression.image }}" class="img-responsive" alt="{{ impression.description }}">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    {{ impression.short_description }}
                                </div>
                                <div class="project-name">
                                    {{ impression.long_description }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% if forloop.counter|divisibleby:2 %}
                    <div class="clearfix visible-sm-block"></div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                    <div class="clearfix visible-lg-block"></div>
                {% endif %}
            {% endfor %}
            <div class="col-lg-4 col-sm-6">
                <a href="{% url 'impressions_all' %}" class="portfolio-box">
                    <img src="{% static 'img/more_impressions.png' %}" class="img-responsive" alt="Bereich für den Link zu weiteren Impressionen">
                    <div class="portfolio-box-caption" style="opacity:1;">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Mehr davon
                            </div>
                            <div class="project-name">
                                Weitere Impressionen finden Sie hier
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
