<section id="legal-notice">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Impressum</h2>
                <hr class="primary">
                {{ config.LEGAL_NOTICE|linebreaks }}
                <h3 class="section-heading">Haftungsausschluss (Disclaimer) und Datenschutzerklärung</h2>
                {{ config.LEGAL_NOTICE_DISCLAIMER|linebreaks }}
            </div>
        </div>
    </div>
</section>
