<section id="legal-notice">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Impressum</h2>
                <hr class="primary">
                <p>XY GmbH &amp; Co. KG &middot; Musterstraße 1 &middot; 04333 Musterstadt</p>
                <p>Vertreten durch XY Verwaltungs-GmbH &middot; Musterstraße 1 &middot; 04333 Musterstadt</p>
                <p>Geschäftsführer: Max Mustermann</p>
                <p>Registergericht: Amtsgericht Musterstadt &middot; HRB 1111</p>
            </div>
        </div>
    </div>
</section>
