<section id="location">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Großartige Lage</h2>
                <hr class="primary">
                <p>Das Gebäude liegt im Rande der Südstadt ganz in der Nähe der Saaleaue.</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9945.700021963334!2d11.93617980434801!3d51.450352822593395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a67d2b12808d0d%3A0xcb6829b44c26961b!2sMail%C3%A4nder+H%C3%B6he+6%2C+06128+Halle+(Saale)!5e0!3m2!1sde!2sde!4v1464353553710" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
